{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block head_title %}
Add contract
{% endblock head_title %}

{% block content %}
<div class="p-5 min-vh-100">
    <div class="p-5">
        <div class="col-lg-5 mx-auto">
            <form class="p-5 shadow-lg border bg-dark text-light"
                style="border-radius: 1rem;"
                action=""
                enctype="multipart/form-data"
                method="post">
                <h1>Contract form</h1>

                {% csrf_token %}
                {{form|crispy}}
                <div class="text-end py-3">
                    <button
                        class="btn btn-sm px-5 btn-outline-light">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}