{% extends 'base.html' %}

{% load humanize %}

{% block content %}
<div class="p-5 vh-100">
    <h1>Contracts</h1>
    <hr>
    <div class="p-5">

        <ol>
            {% for contract in object_list %}
            <li>
                <a title="${{contract.cost|floatformat:2|intcomma}}"
                    class="text-decoration-none text-dark"
                    href="{{contract.get_absolute_url}}">{{contract.name}} ||
                    Start date:{{contract.start_date}} <span class="text-danger fw-bold">End
                    date:{{contract.end_date}}</span></a>
                <hr>
            </li>
            {% endfor %}
        </ol>
    </div>
</div>
{% endblock content %}