{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block head_title %}
Add contract
{% endblock head_title %}



{% block content %}
<div class="container py-5">
    <h1>Add contract</h1>
    <hr>
    <div class="container py-5">
        <div class="col-lg-5 mx-auto">
            <form  class="p-5 shadow-lg rounded-5 border" action=""
                method="post">
                {% csrf_token %}
                {{form|crispy}}
                <div class="text-end py-3">
                    <button
                        class="btn btn-sm px-5 btn-outline-success">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}